
body{
  margin:20;
}

 svg{
  width: 100%;
  height: 100%;
  min-width: 100px;
  min-height: 550px;
  overflow:visible;
}

.wrapper {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

div{
  opacity: 1;
}
#container {
  position: relative;
}
#radioButtons {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 20;
    top: 250px;
}
#radioButtons legend {
  margin: 0;
  padding: 5;
  font-size: 100%;
  color: black;
}

#legend1 {
  position: absolute;
  margin-top: 475px;
  margin-left: 20px;
  margin-bottom: 0px;
}
/*.page-title{
  text-align: center;
  text-decoration: underline;
  color: #002e4d;
  background-color: rbga(23, 45, 165, 0.6);
  font-size: 3vw;
}
.page-subtitle{
  text-align: left;
  color: #005c99;
  font-size: 1.3vw;
  margin-left: 5vw;
}*/
div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 15px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
/*#legendheader {
  margin: 0;
  padding: 5;
  position: absolute;

  float:left;
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 100%;
  color: black;
}*/
